body{
	background: #02010a;
	color: black;
	font-size: 20px;
	font-family: 'Dancing Script', cursive;
}

#container{
	width: 900px;
	height: 900px;
	margin: 0 auto;
	transition-property: margin-top;
	animation: slidein 1s;

}

@-webkit-keyframe slidein {

	100%{
		margin-top: 0%;
	}

	60%{
		margin-top: -5%;
	}

	0%{
		margin-top: 150%;
	}
}

.c1 {
	display: block;
	height: 100px;
	color: black;
	color: white;
	text-align: center;
  font-size: 15px;
	background-color:#5b7989;
	color:white;
  text-shadow: 2px 2px 2px #02010a;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.left{
	float: left;
	margin-left: 25px;
}

.right{
	float: right;
	margin-top: 25px;
}

ul.menu {
	overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  float: right;
  width: 20%%;
}

ul.menu li a {
  padding: .9em;
	font-size: 20px;
	color: white;
}

.Inicio{
  text-decoration: none;
}

.c2 {
	background-color: #82c3a6;
	height: 350px;
	width: 100%;
}

.img1{
	width: 100%;
	height: 100%;
}

.img1{
	height: 310px;
}

.c3 {
	display: flex;
	background-color: #d5c75f;
	height: 100%;
	width: 100%;
}

.c3{
	height:300px;
}

.columna2{
	float: left;
	margin-top: 4px;
}

.columna3{
	float: right;
	margin-top: 1px;
}
article
{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 2%;
  text-align: center;
	}

img{
	box-shadow: 2px 2px 5px #02010a;
	width: 400px;
	height: 200px;
}
.c4 {
	display: flex;
	margin-top: -21px;
	padding: 5%;
	color: black;
	background-color: #C6d5c5;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px;
	box-sizing: border-box;
	font-size: 0.8em;
}

.case1{
	width: 100%;
	order: 1;
}

.case2{
	width: 100%;
	order: 2;
}

.case3{
	width: 100%;
	order: 3;
}

.case4{
	width: 100%;
	order: 4;
}

.ft1{
	display: block;
}
.f1,.f3{
	box-shadow: none;
	padding-right:10px;
	width: 20px;
	height: 20px;
}

ul{
	list-style: none;
}

@media (min-width: 421px) and (max-width: 900px) {
	.c1, .c2, .c3, .c4,{
		width: 100%;
	}

	#container{
		width: 800px;
		height: 800px;
		margin: 0 auto;
	}

	.img1{
		height: 310px;
	}

	.c3{
		display: inline-flex;
		height: 300px;
	}

	.columna2{
		float: left;
		width: 500px;
		margin-top: 4px;
	}

	.columna3{
		float: right;
		width: 500px;
		margin-top: 0px;
		margin-left: 10px;
	}

	.img2,.img3{
		width: 100%;
	}

	.c4{
		display: flex;
	}

	.case1{
		width: 100%;
		order: 1;
	}

	.case2{
		width: 100%;
		order: 2;
	}

	.case3{
		width: 100%;
		order: 3;
	}

	.case4{
		width: 100%;
		order: 4;
	}

}

@media (max-width: 400px) {
	.c1, .c2, .c3, .c4,{
		width: 100%;
	}

	#container{
		width: 340px;
		height: 340px;
	}

	.c1{
		display: block;
		height: 150px;
	}

	.c2{
		height: 270px;
	}

	.img1{
		width: 100%;
		height: 100%;
	}

	.left{
		float: left;

	}
	.right{
		float: right;
		margin-top: -5px;
		margin-right: 25px;

	}

	.c3{
		display: block;
		height: 530px;
	}

	article{
		height: 250px
	}

.img2,.img3{
	width: 90%;
	height: 90%;
	float: left;
	margin-left: 16px;
}

.c4{
	display: block;
	padding: 5%;
}

.case1{
	width: 100%;
	order: 1;
}

.case2{
	width: 100%;
	order: 2;
}

.case3{
	width: 100%;
	order: 3;
}

.case4{
	width: 100%;
	order: 4;
}

}
